In [1]:
from pyspark.sql import SparkSession

In [9]:
# 스키마를 정의 함

22/11/22 14:49:24 WARN Utils: Your hostname, Heewonui-MacBookPro.local resolves to a loopback address: 127.0.0.1; using 192.168.0.11 instead (on interface en0)
22/11/22 14:49:24 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/Users/heewonkim/opt/anaconda3/lib/python3.7/site-packages/pyspark/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/11/22 14:49:24 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [10]:
# 기본 데이터 생성
data = [[1,"Jules","Damji","https:titit.co.kr","1/4/2016",4425,["twitter","LinkedIn"]],
       [2,"Kim","Ddo","https:titit1.co.kr","1/5/2015",4115,["twitter","kind"]]]

In [11]:
if __name__ == "__main__":
    spark = (SparkSession
            .builder
            .appName("Ex3_1")
            .getOrCreate())
    blogs_df = spark.createDataFrame(data, schema)
    blogs_df.show()
    print(blogs_df.printSchema())

NameError: name 'schema' is not defined

In [5]:
from pyspark.sql import Row

In [6]:
blog_row = Row(2,4,"$4","W3")

In [7]:
blog_row[2]

'$4'

In [8]:
rows = [Row("Matei za","CA"),Row("Kim hee","CC")]
authors_df = spark.createDataFrame(rows,["name","State"])
authors_df.show()

NameError: name 'spark' is not defined

In [4]:
from pyspark.sql.types import *

In [ ]:
from pyspark.sql import SparkSession

In [12]:
spark = (SparkSession
        .builder
        .getOrCreate())

In [13]:
file_schema = StructType()
schema = "'ID' INT, 'First' STRING, 'Last' STRING, 'Url' STRING, 'Published' STRING, 'Hits' INT,'Campaigns' ARRAY<STRING>"

In [14]:
read_file = "/Users/heewonkim/Desktop/python_data/business-price-indexes-september-2022-quarter-csv.csv"

In [15]:
file_df = spark.read.csv(read_file,header =True,encoding='utf-8')

In [21]:
(file_df
 .select("Period")
 .groupBy("Period")
 .count()
 .orderBy("Period", ascending=False) # 역순(desc)
 .show(n=40))

+-------+-----+
| Period|count|
+-------+-----+
|2022.09|  778|
|2022.06|  778|
|2022.03|  778|
|2021.12|  778|
|2021.09|  778|
|2021.06|  778|
|2021.03|  778|
|2020.12|  778|
|2020.09|  778|
|2020.06|  778|
|2020.03|  778|
|2019.12|  778|
|2019.09|  778|
|2019.06|  778|
|2019.03|  778|
|2018.12|  778|
|2018.09|  778|
|2018.06|  778|
|2018.03|  778|
|2017.12|  778|
|2017.09|  778|
|2017.06|  778|
|2017.03|  778|
|2016.12|  778|
|2016.09|  778|
|2016.06|  778|
|2016.03|  778|
|2015.12|  778|
|2015.09|  778|
|2015.06|  778|
|2015.03|  778|
|2014.12|  778|
|2014.09|  778|
|2014.06|  778|
|2014.03|  778|
|2013.12|  776|
|2013.09|  700|
|2013.06|  700|
|2013.03|  700|
|2012.12|  700|
+-------+-----+
only showing top 40 rows

In [19]:
row = Row(350,True,"Learning Spark 2E",None)

In [20]:
row[0]

350